In [ ]:
# conditional statement
age =int(input("enter your age"))
if age>60:
  print("you are too old for marry")
elif age<=18:
  print("you are too young for marry")
else:
  print("we will find perfect match for you")

enter your age19
we will find perfect match for you

In [ ]:
my_sub = 'python'
print(my_sub[2])

t

In [ ]:
my_sub = "python"
for s in my_sub:
  print(s)

p
y
t
h
o
n

In [ ]:
for i in range(0,6,1):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
my_sub = "python"
for i in range(len(my_sub)):
  print(my_sub[i],"->" , i)

p -> 0
y -> 1
t -> 2
h -> 3
o -> 4
n -> 5

In [ ]:
my_sub = "python"
for i in range(len(my_sub)):
  print(my_sub[i] , ":" , i)

p : 0
y : 1
t : 2
h : 3
o : 4
n : 5

In [ ]:
# While loop
i = 1 #inilization
while i<5: #condition
  print(i)
  i+=1 #increment

1
2
3
4

In [ ]:
# check even or odd
number = int(input("Enter a Number"))
if number %2 == 0:
  print("the number is even")
else:
    print("the number is odd")

Enter a Number4
the number is even

In [ ]:
# check the character is vowel or consonent
character = input("Enter a character ")
if character in " aioeuAIEOU ":
  print("the character is vowel")
else:
  print("the character is consonent")

In [ ]:
import python as np

In [ ]:
list = [1 , 3 ,2  , 4]
list[2] =  20
print(list)