In [ ]:
# default argument
def area_perimeter(width=4 , height=8):
  area = width*height
  perimeter = 2*(width+height)
  return "Area is " , area , "perimeter is" , perimeter

In [ ]:
print(area_perimeter())   # if we does not give argument so by default it take value from above.

('Area is ', 32, 'perimeter is', 24)

In [ ]:
# keyword argument
def interest(p , r , t):
 i = (p*r*t)/100
 return i

In [ ]:
print(interest(r = 10 , t = 2 , p = 1000))

200.0

In [ ]:
# mixed argument
# positinal argument follows keyword argument
print(interest(1000 , t =2 , r = 10))

200.0

In [ ]:
# variable length argument
# non keyword positional variable length argument
def test(*args):
  print(args)
  print(len(args))
  print(type(args))

In [ ]:
test(2 , 4, 3, 5, 6 , 3 , 2 ,5)

(2, 4, 3, 5, 6, 3, 2, 5)
8
<class 'tuple'>

In [ ]:
def sum_number(*args):
  sum = 0
  for num in args:
    sum+=num #sum = sum + num
  return sum

In [ ]:
sum_number(3 , 4 , 2 , 42, 2 , 5 , 8)

66

In [ ]:
def multiplication_number(*args):
  result = 1
  for num in args:
    multiplication*=num
  return multiplication

In [ ]:
#keyword variable length argument
def test(**kwargs):
  print(kwargs)
  print(type(kwargs))
  print(len(kwargs))

In [ ]:
test(a = 10 , b = 20 , c = 30)

{'a': 10, 'b': 20, 'c': 30}
<class 'dict'>
3

In [ ]:
def pass_student(**kwargs):
  pass_student_list = []
  for name, marks in kwargs.items():
    if marks>35:
      pass_student_list.append(name)
  return pass_student_list

In [ ]:
pass_student(A = 30 , B = 40 , C = 50 , D = 80 , E = 20)

['B', 'C', 'D']

In [ ]:
# library ---- it is the collection of variable , function , or method , class , file , module and package .
# 1 library ---- NumPy >>> Numeric python >>> it is used for mathematics . >>> it's data structure is multidimenstinal array.
# import as np ,, it is keyword which is used for import library. ( 'as' >>> it is keyword and also represnt as "alias" )

In [ ]:
import numpy as np

In [ ]:
# one dimensinal array
oned_array = np.array([1, 2, 3, 4, 5])
print(oned_array)

[1 2 3 4 5]

In [ ]:
one_dimenstional_array = np.array([1 , 2 , 3 , 4 , 5 , 6])
print(one_dimenstional_array)

[1 2 3 4 5 6]